.card-text-custom {
    font-family: 'Montserrat', 'sans-serif';
}

.tag-description {
    font-size: 10px;
}

/* Indigo color utilities */
.text-indigo {
    color: #6610f2;
}

.bg-indigo {
    background-color: #6610f2;
}

.text-indigo-100 {
    color: #ede7ff;
}

.bg-indigo-100 {
    background-color: #ede7ff;
}

.text-indigo-200 {
    color: #dcd4ff;
}

.bg-indigo-200 {
    background-color: #dcd4ff;
}

.text-indigo-300 {
    color: #cabcfe;
}

.bg-indigo-300 {
    background-color: #cabcfe;
}

.text-indigo-400 {
    color: #a48dfd;
}

.bg-indigo-400 {
    background-color: #a48dfd;
}

.text-indigo-500 {
    color: #6610f2;
}

.bg-indigo-500 {
    background-color: #6610f2;
}

.text-indigo-600 {
    color: #520dc2;
}

.bg-indigo-600 {
    background-color: #520dc2;
}

.text-indigo-700 {
    color: #3d0a91;
}

.bg-indigo-700 {
    background-color: #3d0a91;
}

.text-indigo-800 {
    color: #290661;
}

.bg-indigo-800 {
    background-color: #290661;
}

.text-indigo-900 {
    color: #140330;
}

.bg-indigo-900 {
    background-color: #140330;
}

.card-custom-animation:hover {
    transform: translateY(-20px);
    transition: all 0.5s ease-in-out;
}


.card-text-overflow {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limita a 2 linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.justified-text {
    text-align: justify;
    text-justify: inter-word;
}

.custom-bg {
    background-color: #111111;
}

.view-model-description {
    font-size: clamp(0.3rem, 0.55rem + 0.3vw, 1rem);
}

.login-main-container {
    background-color: rgba(255, 255, 255, .8);
    filter: brightness(1.2);
}
.bg-login{
    
    backdrop-filter: blur(18px);
    background-image: url('../img/login-background2.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    position:relative
}
.bg-login::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
    z-index: -1; /* Ensure the overlay is behind the content */
}


.bg-card-login{
    background-image: url('../img/login-background2.webp');
    backdrop-filter: blur(15px);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}



.typewriter{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .12em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}


.custom-nav-item:hover{
    transform: scale(1.2);
    transform: translateY(-8px);
    transition: all 0.3s ease-in-out;
}

.main-landing-container{
    text-align: justify;
    backdrop-filter: blur(10px);
}

.landing-page-box{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}
.available-model-label{
    animation-name: scaleUpLoop;
    animation-iteration-count: infinite;
}
@keyframes scaleUpLoop {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
}