.card-text-custom {
    font-family: 'Montserrat', 'sans-serif';
}
.tag-description{
    font-size: 10px;
}
.card-title-custom{
    font-size:16px;
}

/* Indigo color utilities */
.text-indigo { color: #6610f2; }
.bg-indigo { background-color: #6610f2; }
.text-indigo-100 { color: #ede7ff; }
.bg-indigo-100 { background-color: #ede7ff; }
.text-indigo-200 { color: #dcd4ff; }
.bg-indigo-200 { background-color: #dcd4ff; }
.text-indigo-300 { color: #cabcfe; }
.bg-indigo-300 { background-color: #cabcfe; }
.text-indigo-400 { color: #a48dfd; }
.bg-indigo-400 { background-color: #a48dfd; }
.text-indigo-500 { color: #6610f2; }
.bg-indigo-500 { background-color: #6610f2; }
.text-indigo-600 { color: #520dc2; }
.bg-indigo-600 { background-color: #520dc2; }
.text-indigo-700 { color: #3d0a91; }
.bg-indigo-700 { background-color: #3d0a91; }
.text-indigo-800 { color: #290661; }
.bg-indigo-800 { background-color: #290661; }
.text-indigo-900 { color: #140330; }
.bg-indigo-900 { background-color: #140330; }