<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>iWannabeLike - Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<header>
    <!-- place navbar here -->
</header>
<main>
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="d-flex shadow justify-content-end bg-card-login rounded-start-5"
             style="height: 280px; max-height: 40vh; width: 250px; max-width: 25vw;">
            <div class="rounded-start-5 justify-content-center align-items-center d-flex"
                 style="backdrop-filter: blur(15px);height:100%;width:100%;">
                <div class="row-flex">
                    <span class="typewriter" style="font-size:14px;"></span>
                </div>
            </div>
        </div>
        <div class="d-inline-flex text-center p-4 rounded-end-5 login-main-container shadow"
             style="height: 280px; max-height: 40vh; width: 400px; max-width: 50vw;">
            <form th:action="@{/login}" method="post" data-bs-theme="light" class="ms-2">
                <div class="justify-content-center">
                    <span class="fs-3 fw-light text-dark">Login</span>
                </div>
                <div class="input-group mt-4 justify-content-center">
                        <span class="input-group-text text-bg-dark" id="basic-addon1">
                            <span class="material-icons">account_circle</span>
                        </span>
                    <input type="text" class="form-control" placeholder="username" aria-label="Username"
                           aria-describedby="basic-addon1" style="max-width: 90%;" id="username" name="username" required>
                </div>
                <div class="input-group mb-4 mt-3 justify-content-center">
                        <span class="input-group-text text-bg-dark" id="basic-addon2">
                            <span class="material-icons">password</span>
                        </span>
                    <input type="password" class="form-control" placeholder="***********" aria-label="Password"
                           aria-describedby="basic-addon2" style="max-width: 90%;" id="password" name="password" required>
                </div>
                <div class="d-flex justify-content-end" style="max-width:50%; margin-left: 50%;">
                    <button type="submit" class="btn btn-sm rounded-2 text-bg-primary ps-3 pe-3 shadow-lg">login <span class="material-icons ms-2" style="vertical-align:middle;">login</span></button>
                </div>
            </form>
        </div>
    </div>
</main>
<footer>
    <!-- place footer here -->
</footer>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
<script>
    const texts = ['I wanna be like Mikasa.', 'I wanna be like Vegeta.', 'I wanna be like All Might.', 'I wanna be like Saitama.'];
    let textIndex = 0;
    let charIndex = 0;
    let isDeleting = false;
    const typewriterElement = document.querySelector('.typewriter');
    const typingSpeed = 70;
    const deletingSpeed = 50;
    const pauseBetween = 2000;

    function type() {
        const currentText = texts[textIndex];

        if (!isDeleting) {
            // Digita o texto
            typewriterElement.textContent = currentText.substring(0, charIndex);
            charIndex++;

            if (charIndex > currentText.length) {
                isDeleting = true;
                setTimeout(type, pauseBetween);
                return;
            }
        } else {
            // Apaga o texto
            typewriterElement.textContent = currentText.substring(0, charIndex);
            charIndex--;

            if (charIndex < 0) {
                isDeleting = false;
                textIndex = (textIndex + 1) % texts.length;
                setTimeout(type, 500);
                return;
            }
        }

        setTimeout(type, isDeleting ? deletingSpeed : typingSpeed);
    }

    // Inicia o efeito
    type();
</script>
</body>
</html>